body {
    margin: 0px;
    font-family: sans-serif;
    overflow-x: hidden;
}

/* -----Header----- */

#body-header {
    height: 65vh;
    opacity: 1;
    background-image: url(/assests/macbook\ \ mouse.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* -----Navigation Lists----- */

.navigation {
    list-style-type: none;
    padding-left: 0px;
    margin: 0px;
    text-align: center;
}

.navigation li {
    font-family: sans-serif;
    display: inline-block;
    margin: 8px 25px 0px;
    font-size: 1.2rem;
    font-weight: 100;
}

.navigation li a {
    text-decoration: none;
    color: white;
}

.nav-list li a:hover {
    color: lightgrey;
    border-bottom: 1px solid white;
}

.navigation li a:active {
    color: red
}

#name {
    font-family: sans-serif;
    font-size: 5rem;
    letter-spacing: 0.11rem;
    font-weight: 700;
    color: white;
    text-align: center;
    margin-top: 15vh;
    margin-bottom: 0.5rem;
}

/* -----social media----- */

.social-icons li {
    margin: 0px 7px;
}

.social-icons li a i {
    font-size: 1.6rem;
    padding: 8px;
    margin-top: 0px;
    border-radius: 50%;
}

.social-icons li a i:hover {
    box-shadow: 0px 0px 6px 4px rgba(255, 196, 196, 0.5);
}

#facebook:hover {
    color: #2d4373;
}

#linkedin:hover {
    color: #00121c;
}

#twitter:hover {
    color: #55acee;
}

#google:hover {
    color: #c23321;
}

#gmail:hover {
    color: red;
}

/* -----section----- */

section {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section:nth-child(2n) {
    background-color: rgba(211, 211, 211, 0.5);
}

section:nth-child(2n+1) {
    background-color: white;
}

.section-heading {
    width: 100%;
    padding: 20px 10px 10px;
    font-weight: 400;
    text-align: center;
}

.section-heading span {
    font-size: 40px;
    color: #2857a4;
    display: inline-block;
    padding-top: 10px;
    margin-right: 0.5rem;
}

/* -----About----- */

#about {
    height: auto;
    width: 100%;
}

#my-image {
    width: 14rem;
    height: 14rem;
    margin: auto;
    margin-top: -16vh;
    border: 1px solid rgba(255, 196, 196, 0.5);
    background-color: white;
    border-radius: 50%;
    box-shadow: 0px 0px 6px 4px rgba(167, 157, 157, 0.5);
}

#my-image img {
    width: 100%;
    height: 100%;
    margin: auto;
    border-radius: 50%;
}

#aboutPara {
    margin-top: 6vh;
    margin-bottom: 4vh;
    width: 70%;
}

#about p {
    color: rgb(68, 66, 66);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-align: justify;
    word-spacing: 0.1rem;
    font-size: 1.35rem;
    line-height: 1.9rem;
}

#about p span {
    color: blue;
}

/* -----Experience----- */

.experience {
    position: relative;
    width: 75%;
    height: 75%;
}

.experience-box {
    position: relative;
    left: 5%;
    width: 40%;
    margin: 5px;
}

.experience-box:nth-child(2n) {
    left: 55%;
}

.experience-box h1 {
    color: blue;
    font-weight: bolder;
    font-size: 2rem;
    text-align: end;
}

.experience-box h2 {
    color: orangered;
    font-size: 1.8rem;
    text-align: end;
    margin-top: -2vh;
}

.experience-box h4 {
    color: rgb(116, 107, 103);
    font-size: 1rem;
    text-align: end;
    margin-top: -2.5vh;
}

.experience-box p {
    color: rgb(77, 73, 73);
    font-size: 1.2rem;
    text-align: justify;
    margin-top: 20px;
    margin-left: 10px;
}

/* .experience-box h1::before {
    content: "";
    background-image: url(/assests/nirmal\ bags_1.jpg);
    background-size: cover;
    display: inline-block;
    width: 100px;
    height: 120px;
    position: absolute;
    left: 0%;
} */

/* -----Experience-divider----- */

.experience-divider {
    position: absolute;
    height: 86%;
    width: 0;
    border: 3px dashed #0096fa6b;
    left: 50%;
    top: 5%;
}

.experience-traveller {
    position: sticky;
    top: 15%;
    transform: rotate(90deg);
    color: darkblue;
}

/* ----Contact---- */