/* ----Contact---- */

#contact {
    background-image: linear-gradient(50deg, #2857a4 0%, #403066 74%);
    color: white;
    padding-bottom: 40px;
}

#contact h1,
#contact h1 span {
    background-color: transparent;
    color: white;
}

#contact-container {
    display: flex;
    margin-top: -10px;
    padding-bottom: 30px;
}

#contact-form-container {
    width: 50%;
}

#contact-form {
    margin-left: 20%;
}

#my-details-container {
    width: 35%;
    margin-left: 6%;
}

#my-details-container h3 {
    color: white;
    font-weight: 550;
    font-size: 1.2rem;
}

#my-details-container p {
    color: #d9dcdd;
    font-size: 1rem;
    line-height: 1.4;
}

.my-details-info-container {
    margin-bottom: 20px;
    color: #d9dcdd;
    display: flex;
    align-items: center;
    gap: 10px;
}

.my-details-info-container span {
    font-size: 1rem;
}

.my-details-info-container i {
    color: white;
}

.my-details-icon {
    width: 1rem;
    height: 1rem;
    vertical-align: bottom;
    margin-right: 0.5rem;
}


#contact-form input,
textarea {
    max-width: 90%;
    margin: 15px;
    padding: 4px 10px;
    border: 0px solid transparent;
    border-bottom: 2px solid white;
    color: white;
    background: transparent;
    width: 90%;
    line-height: 1.6;
    font-size: 1.05rem;
}


#contact-form button[type="submit"] {
    background: transparent;
    font-size: 0.95rem;
    border: 2px solid white;
    margin-top: 5%;
    margin-left: 35%;
    border-radius: 2px;
    color: white;
    font-family: sans-serif;
    font-weight: 700;
    letter-spacing: 0.046875em;
    line-height: 1;
    padding: 0.8em 0.8em 0.78em;
    text-transform: uppercase;
}

#contact-form button:hover {
    background: white;
    color: #13386fe0;
}

#mail {
    color: white;
    text-decoration: none;
}

#contact-form button:hover #mail {
    color: #13386fe0;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}